.MainDiv{
    width: auto;
}
.MyListDiv{
    height: 50px;
    width: 300px;
    /* border: 2px; */
    overflow: scroll;
    border-color: rgb(199, 199, 199);
    margin: 9px ;
    background-color: rgb(233, 233, 233);
    padding-left: 15px;
}
.MyListDivTest{
    height: 50px;
    width: 300px;
    /* border: 2px; */
    overflow: scroll;
    display: flex;
    flex-direction: row;
    border-color: rgb(199, 199, 199);
    margin: 9px ;
    background-color: rgb(169, 245, 255);
    padding-left: 15px;
}
.MyListDiv2{
    height: 50px;
    width: 300px;
    /* border: 2px; */
    overflow: scroll;
    border-color: rgb(199, 199, 199);
    margin: 9px ;
    background-color: rgb(169, 245, 255);
    padding-left: 15px;
    padding-top: 10px;
}


.DivinCol{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.InnerDiv{
    width: auto;
}
.BoxOrderDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.Img{
    width: 300px;
    height: 300px;
    object-fit: fill;
}
img{
    width: 300px;
    height: 300px;
}